.projects-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.project-box {
    border: 2px solid white;
    padding: 5px;
    width: 30%;
    margin: 5px;
    flex: 1;
    box-shadow: 2px 2px white;
}

.project-title {
    font-weight: bold;
    text-decoration: underline;
}

.project-text {
    font-weight: bolder;
}

@media only screen and (max-width: 768px) {
    .projects-container {
        flex-direction: column;
    }
    .project-box {
        width: 100%;
    }
}