.academics-container {
    border: 1px dashed white;
    padding: 10px;
    width: 100%;
}

.academics-title {
    font-weight: bolder;
    text-decoration: underline;
}

.academics-descr {
    text-align: center;
}